body{
    margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 40px;
}
.name-highlight{
    color:  orange;
}
.half-width{
 width: 30%;
 float: left;
margin-left: 6%;
padding-left: 8%;
}
.half-width img{
    width: 85%;
}
.banner{
   
    background-image: url("images/top-banner.png");
   background-repeat: no-repeat; 
}
section{
height: 460px;
padding-bottom: 100px;
}
.button{
    text-decoration: none;
    background-color: royalblue;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    }
   .dream-big{
       background-image: url(images/dream-bg.png);
       background-repeat: no-repeat;
       background-position: right;
   }
    